/* Resetting default margin, padding, and box-sizing for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styling for the body */
body {
    height: max-content;
    overflow: hidden;
    overflow-y: scroll;
    background: linear-gradient(100deg, #000000, #977506);
}

/* Site Logo & Title */
.hd1 {
    position: absolute;
    top: -2%;
    left: 2%;
    padding: 20px;
    color: rgb(173, 157, 157);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo1 {
    position: absolute;
    height: 11rem;
    width: 120px;
    top: -8.5%;
    left: 24%;
    padding: 20px;
    color: rgb(173, 157, 157);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Search Bar */
.searchBox {
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    align-items: center;
    border-radius: 7px;
}

.searchBox input {
    background: transparent;
    outline: none;
    border: none;
}

.SearchTab {
    margin: 10px;
    padding: 7px;
    background: transparent;
    height: 25px;
}

/* Navigation Links */
.navLinks {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 3rem;
}

.logo2 {
    margin: -6rem;
    padding: 10px;
    width: 220px;
}

.Links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    display: contents;
}

/* Featured Images */
.imgs {
    display: flex;
    left: 50%;
    position: relative;
    perspective: 200px;
}

.Feature1,
.Feature2 {
    border-radius: 50px;
    height: 25rem;
    width: 20rem;
}

.Feature2 {
    left: -30px;
    position: relative;
}

/* Shop Now Button */
.container a {
    text-decoration: none;
    color: #fff;
}

.p1 {
    font-size: 100px;
    color: #fff;
    display: flex;
    position: absolute;
    margin-left: 11%;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Gifts {
    margin-left: -50%;
}

.btnContainer {
    text-align: center;
    display: flex;
    position: absolute;
    left: 10%;
}

.ShopNowButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    background: #7c4506;
    padding: 15px;
    border-radius: 20px;
    margin-top: 85%;
    margin-left: 1%;
    width: 20rem;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Featured Category */
.FeaturedContainer {
    margin: 20%;
}

.FeaturedItems {
    display: flex;
    position: relative;
    justify-content: space-around;
}

.FeaturedShoes {
    border-radius: 25px;
    margin: 35px;
    height: 20rem;
    width: 17rem;
}

.FeaturedLinks {
    text-decoration: none;
}

.FeaturedText {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #fff;
}

/* User */
.UserContainer {
    margin: 20%;
}

.UserItems {
    display: flex;
    position: relative;
    justify-content: space-around;
}

.UserLinks {
    text-decoration: none;
}

.UserImg {
    border-radius: 25px;
    margin: 35px;
    height: 30rem;
    width: 20rem;
}

.UserText {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #fff;
}

/* Footer */
.Footer {
    background-color: #0c1013;
    color: #ffffff;
    height: 11rem;
    padding: 20px;
}

.FooterItems {
    display: flex;
    position: absolute;
}

.Footer1 {
    height: 40%;
    line-height: 2rem;
    font-size: 20px;
    margin: -5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MoreLinks {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 30%;
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.FooterLink2 {
    color: #fff;
    text-decoration: none;
}

.Footer2 {
    display: block;
    line-height: 2rem;
    padding: 10px;
    margin: 0px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.FooterImage {
    display: flex;
    position: absolute;
    margin-left: 200%;
}

.Fb,
.Insta,
.Twitter {
    justify-content: space-between;
    top: 40px;
    right: 22rem;
    margin: 10px;
    position: relative;
}

.Fb,
.Insta,
.Twitter {
    height: 100px;
    width: 100px;
}

.Footerlogo {
    display: flex;
    position: absolute;
}

.Sitelogo {
    display: flex;
    margin: 80%;
    margin-top: -11px;
    height: 10.3rem;
    width: 10rem;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
    .hd1,
    .logo1,
    .searchBox,
    .navLinks,
    .logo2,
    .Links,
    .imgs,
    .p1,
    .btnContainer,
    .ShopNowButton,
    .FeaturedContainer,
    .FeaturedItems,
    .FeaturedShoes,
    .UserContainer,
    .UserItems,
    .UserImg,
    .FooterItems,
    .Footer1,
    .MoreLinks,
    .Footer2,
    .FooterImage,
    .Fb,
    .Insta,
    .Twitter,
    .Footerlogo,
    .Sitelogo {
        width: 100%;
        left: 0;
        margin-left: 0;
        text-align: center;
    }

    .hd1,
    .logo1,
    .searchBox,
    .navLinks,
    .logo2,
    .Links,
    .imgs,
    .p1,
    .btnContainer,
    .ShopNowButton,
    .FeaturedContainer,
    .FeaturedItems,
    .FeaturedShoes,
    .UserContainer,
    .UserItems,
    .UserImg,
    .FooterItems,
    .Footer1,
    .MoreLinks,
    .Footer2,
    .FooterImage,
    .Fb,
    .Insta,
    .Twitter,
    .Footerlogo,
    .Sitelogo {
        position: relative;
    }

    .hd1,
    .logo1,
    .searchBox,
    .navLinks,
    .logo2,
    .Links,
    .imgs,
    .p1,
    .btnContainer,
    .ShopNowButton,
    .FeaturedContainer,
    .FeaturedItems,
    .FeaturedShoes,
    .UserContainer,
    .UserItems,
    .UserImg,
    .FooterItems,
    .Footer1,
    .MoreLinks,
    .Footer2,
    .FooterImage,
    .Fb,
    .Insta,
    .Twitter,
    .Footerlogo,
    .Sitelogo {
        padding: 10px;
    }

    .hd1,
    .logo1,
    .searchBox,
    .navLinks,
    .logo2,
    .Links,
    .imgs,
    .p1,
    .btnContainer,
    .ShopNowButton,
    .FeaturedContainer,
    .FeaturedItems,
    .FeaturedShoes,
    .UserContainer,
    .UserItems,
    .UserImg,
    .FooterItems,
    .Footer1,
    .MoreLinks,
    .Footer2,
    .FooterImage,
    .Fb,
    .Insta,
    .Twitter,
    .Footerlogo,
    .Sitelogo {
        top: 0;
        margin-top: 0;
    }
}
